In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score

In [5]:
data=pd.read_csv("housing.csv")
data.head(10).T

,0,1,2,3,4,5,6,7,8,9
RM,6.575,6.421,7.185,6.998,7.147,6.43,6.012,6.172,5.631,6.004
LSTAT,4.980,9.140,4.030,2.940,5.330,5.21,12.430,19.150,29.930,17.100
PTRATIO,15.300,17.800,17.800,18.700,18.700,18.70,15.200,15.200,15.200,15.200
MEDV,504000.000,453600.000,728700.000,701400.000,760200.000,602700.00,480900.000,569100.000,346500.000,396900.000

In [3]:
data.describe

<bound method NDFrame.describe of         RM  LSTAT  PTRATIO      MEDV
0    6.575   4.98     15.3  504000.0
1    6.421   9.14     17.8  453600.0
2    7.185   4.03     17.8  728700.0
3    6.998   2.94     18.7  701400.0
4    7.147   5.33     18.7  760200.0
..     ...    ...      ...       ...
484  6.593   9.67     21.0  470400.0
485  6.120   9.08     21.0  432600.0
486  6.976   5.64     21.0  501900.0
487  6.794   6.48     21.0  462000.0
488  6.030   7.88     21.0  249900.0

[489 rows x 4 columns]>

In [7]:
data.count()

RM         489
LSTAT      489
PTRATIO    489
MEDV       489
dtype: int64

In [10]:
corltn= data.corr()
corltn

               RM     LSTAT   PTRATIO      MEDV
RM       1.000000 -0.612033 -0.304559  0.697209
LSTAT   -0.612033  1.000000  0.360445 -0.760670
PTRATIO -0.304559  0.360445  1.000000 -0.519034
MEDV     0.697209 -0.760670 -0.519034  1.000000